
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}

.categories img{
    width: 100px;
}
.cat1{
    background-color:tomato;
}
.cat2{
    background-color: magenta;
}
.cat3{
    background-color: blueviolet;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px gray ;
    border-radius: 10px;
}
#contactus{
    height: 300px;
}
#contactus h6{
    color: gray;
}
footer{
    text-align: center;
}